<html>

<body>
    <style>
    *{
        width: min-content(100%,950px);
    }
    h2{
        padding-top: 12px;
    }
</style>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<h2>Welcome to Complaint Management System</h2>
<br>
<div class="username">
    <a href="/logout">
<h3>Hello {{user.name}} <svg xmlns="http://www.w3.org/2000/svg" width="45.5" height="45" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/> <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/> </svg> </h3>
</a>
</div>
<br>
<br>
<a href="/complaint" class="btn btn-success btn-lg">Register a Complaint</a>
<!--
<div class="imgcont">
      <a href="/complaint">
  

      <img src="https://media.springernature.com/w300/springer-static/image/art%3A10.1038%2Fsj.bdj.2018.827/MediaObjects/41415_2018_Article_BFsjbdj2018827_Figa_HTML.jpg?as=webp" class="imgclass" width="400px" height="300px">

</a>
    </div>-->
    </body>
    </html>